@import 'nib'

img
  padding: 3px
  background: #000
  border: 1px solid rgba(255,255,255,0.1)

a h1, a:visited h1, a:active h1, h1 a, h1 a:visited, h1 a:active, h1, a,
  text-decoration: none
  font-size: 38px
  line-height: 150%
  color: #e7baff
  z-index: 800
  position: relative
